*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.App{
  max-width: 1400px;
  margin: 0 auto;
}

.main-wrapper{

}

.row{
  display:flex;
  flex-direction: row;
}

.col-25{
width:25%;
  border:1px solid red;
  padding:1em;
}

.col-50{
  border:1px solid red;
  width:50%;
}
.col-75{
  border:1px solid red;
  width:75%;
}


/* ////////////////// */

p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: justify;
}